# compiled output
/dist
**/node_modules
node-build.zip
database-build.zip

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.pem

# Hide anything prod related.
prod*
!prod_seeder.js
# backup.json
# coresports_users.js

# Commit localhost certificates.
!localhost*.pem

/nginx/config/crontabs
/nginx/config/etc/letsencrypt
/nginx/config/fail2ban
/nginx/config/geoip2db
/nginx/config/keys
/nginx/config/log
/nginx/config/www
/nginx/config/.donoteditthisfile.conf
/nginx/config/nginx/proxy-confs
/nginx/config/dns-conf
